.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin: 10px;
}
.btn {
  background-color: #4fffdc !important;
  color: black !important;
  border-color: #4fffdc !important;
}
.header {
  margin: 10px;
  color: #4fffdc;
  font-style: italic;
}
